*,*::before, *::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
   text-decoration: none; 
}
    
aside, nav, footer, header, section, main{
    display: block;
}

h1,h2,h3,h4,h5,h6, p{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}



ul{
    list-style: none;
}

img, svg{
    max-width: 100%;
    display: block;
}

label {
	cursor: pointer;
}